@charset "utf-8";
*{ margin:0; padding:0;}
h1,h2,h3,h4,h5,j6,b,strong{ font-weight:normal;}
a{ font-size:12px; color:#000;  text-decoration:none}
ul li,ol li { list-style:none;}
img{ vertical-align:top}
i,em{ font-style:normal;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{zoom:1};
input{ outline:none; border:0 none; background:#FFF;}
 /* CSS Document */

